.feedback {
    padding-bottom: 70px;
    &-items {
        margin-top: 70px;
    }
    &-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 100px;
        &:nth-last-child(1) {
            margin-bottom: 0;
        }
        &_photo {
            margin-right: 62px;
            width: 170px;
            height: 170px;
            border-radius: 84.5px;
        }
        &_descr {
            &-name{
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: 700;
                color: #0d0d0d;
            }
            &-count {
                margin-bottom: 20px;
                font-size: 14px;
                font-weight: 300;
                color: #646464;
            }
        }
    }
}